.informBoxBoarder{
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  border-top: solid 2px;
  width: 300px;
  border-color: cornflowerblue;
}

.flexContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  /*border: 5px green solid;*/
}

.box {
  padding: 20px;
}
.bg {
  position: absolute;
  background-color: aliceblue;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  width: 500px;
  hight: 300px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding: 10px;
}

.ingredient {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .ingredient:hover {
  background-color: #ccc;
}
