
<div class="bg">
  <div class="flexContainer">
    <div class = "box">
      <h5>Select Ingredients to Cook:</h5>
      <ul class="list-group">
        <li class="list-group-item ingredient" *ngFor="let ingre of ingre_list" [ngClass]="{'active': ingre.selected}"(click)="selectInMenu(ingre)">
        {{ingre.name}}
        </li>
      </ul>
      <button class="btn btn-primary" (click)="checkRecipe(selected_ingre)"> Check Recipe</button>
    </div>

    <div class="box">
      <h5> Add Ingredient Name:</h5>
      <div class="row">
        <input type = "text" class="form-control" [(ngModel)]="ingreName">
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="addIngre(ingreName)"> Add Ingredient </button>
      </div>

      <h5> Add Dish Name:</h5>
      <div class="row">
        <input type = "text" class="form-control" [(ngModel)]="dishName">
      </div>
      <button class="btn btn-primary" (click)="addDish(dishName)"> Add Dish </button>
    </div>


  </div>
</div>
